name: Analyze, build and distribute Android application

on:
  push:
    branches:
      - master

env:
  flutter_version: "1.22.3"

jobs:
  buildApk:
    name: Analyze, build and distribute Android application
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v1
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}
      - name: Set up flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}
      - name: Get dependencies
        run: flutter pub get
      - name: Format source code
        run: find -name "*.dart" -not -path "./lib/generated/*" -exec flutter format --set-exit-if-changed {} \;
      - name: Analyze source code
        run: flutter analyze .
      - name: Add config files
        env:
          KEYSTORE_PROPERTIES: ${{ secrets.KEYSTORE_PROPERTIES }}
          GOOGLE_SERVICES_STAGE_JSON: ${{ secrets.GOOGLE_SERVICES_STAGE_JSON }}
          GOOGLE_SERVICES_PROD_JSON: ${{ secrets.GOOGLE_SERVICES_PROD_JSON }}
          DEBUG_JKS: ${{ secrets.DEBUG_JKS }}
          RELEASE_JKS: ${{ secrets.RELEASE_JKS }}
        run: |
          sudo echo "$KEYSTORE_PROPERTIES" > android/keystore.properties
          sudo echo $GOOGLE_SERVICES_STAGE_JSON > android/app/src/stage/google-services.json
          sudo echo $GOOGLE_SERVICES_PROD_JSON > android/app/src/prod/google-services.json
          sudo echo "$DEBUG_JKS" | base64 -d > android/debug.jks
          sudo echo "$RELEASE_JKS" | base64 -d > android/release.jks
      - name: Build stage application
        run: flutter build apk --flavor stage
      - name: Build production application
        run: flutter build apk --flavor prod
      - name: Distribute stage via Firebase
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: 1:979560368213:android:960e19c2193ab71a02acdc
          token: 1/LbduIpc3b8RKmy_iaXIuReAJsqhO6-pA1QUzSPF12EE
          groups: testers
          file: build/app/outputs/flutter-apk/app-stage-release.apk
      - name: Distribute production via Firebase
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: 1:858223808011:android:432233e3ad8b7abf22010e
          token: 1/LbduIpc3b8RKmy_iaXIuReAJsqhO6-pA1QUzSPF12EE
          groups: testers
          file: build/app/outputs/flutter-apk/app-prod-release.apk
